body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #34495E;
    color: honeydew;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    max-height: 100vh;
    padding: 0;
    margin: 0;
}

a{
    color: #FFFFFF;
    text-decoration: none;
}

.header{
    margin-bottom: 15px;
}

h1{
    color: orange;
    -webkit-text-stroke: 2px white;
    font-size: 8vw;
    margin: 0;
}

h2{
    font-size: 3vw;
    margin: 0;
}

.footer{
    position: absolute;
    bottom: 0;
}

.container{
    display: flex;
    max-width: 800px;
}

.playerContainer, 
.computerContainer{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: solid white 1px;
    border-radius: 10px;
    width: 40vw;
    height: 40vh;
}

.title{
    font-size: 7vw;
    font-weight: 700;
    color: orange;
    margin-bottom: 5px;
}

.score{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3vw;
    max-width: 80px;
}

.playerScore,
.computerScore{
    background-color: black;
    width: 8vw;
    max-width: 80px;
}

.outcomeContainer{
    display:flex;
    align-items: center;
    justify-content: center;
    border: solid white 1px;
    border-radius: 5px;
    margin: 0.25em;
    max-height: 10vh;
    width: 80vw;
    max-width: 800px;
}

.outcomeContainer p{
    font-size: 5vw;
}

.optionsContainer{
    display: flex;
    justify-content: center;
    width: 81vw;
    max-width: 800px;
}

button{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    border: solid black 2.5px;
    border-radius: 5px;
    padding: 0.25em;
    font-size: 3vw;
    font-weight: bold;
    max-height: 100px;
}

button:hover{
    background-color: orange;
}

button:active{
  background-color: orange;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.optionsContainer img{
    width: 5vw;
    max-width: 50px;
    max-height: 50px;
    border: solid black 2.5px;
    pointer-events: none;
}

.playerHand img,
.computerHand img{
    height: 20vw;
    max-height: 160px;
}

@media screen and (min-width: 1000px){
    h1{
        font-size: 80px;
    }

    h2{
        font-size: 30px;
    }

    .outcomeContainer p{
        font-size: 50px;
    }

    .title{
        font-size: 70px;
    }

    .score{
        font-size: 30px;
    }
    
    .playerScore,
    .computerScore{
        font-size: 25px;
    }

    button{
        font-size: 30px;
    }
  }