body{
    background-color: #222831;
    color: honeydew;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 100vh;
}

.header{
    margin-bottom: 25px;
}

.footer{
    font-size: 1em;
}

a{
    color: #FFFFFF;
    text-decoration: none;
}

h1{
    color: orange;
    -webkit-text-stroke: 2px white;
    font-size: 8vw;
    margin: 0;
}

h2{
    font-size: 4vw;
    margin: 0;
}

.main{
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.playerContainer, 
.computerContainer{
    display:flex;
    flex: 1 1 8em;
    flex-direction: column;
    border: solid white 3px;
    border-radius: 20px;
    align-items: center;
    justify-content:space-evenly;
    margin: 0.25em;
    max-height: 45vh;
}

.resultsContainer{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 1 6em;
    border: solid black 3px;
    border-radius: 20px;
    background-color: black;
    margin: 0.25em 0.25em;
    overflow: hidden;
    max-height: 45vh;
}

.history p{
    margin: 0.1em;
}

.title{
    font-size: 5vw;
}

.scores{
    display: flex;
    flex-direction: column;
    font-size: 3vw;
}

.playerScore,
.computerScore{
    font-size: 4vw;
    background-color: black;
}

.options{
    display: flex;
}

button{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid black 2px;
    font-size: 1.5vw;
    padding: 0.25em;
    border-radius: 5px;
    font-weight: bold;
    min-width: 5em;
    gap: 3px;
}

img {
    /* display: block; */
    max-width:30px;
    max-height:30px;
    /* width: auto;
    height: auto; */
}

#newGame {
    border: solid black 2px;
    font-size: 1.5vw;
    padding: 0.75em;
    border-radius: 5px;
    font-weight: bold;
    max-width: 10em;
}

button:hover {
    background-color: #3e8e41
}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}